<nav class="flex justify-between px-4 shadow">
  <div class="flex h-12 items-center space-x-4">
    <mat-icon aria-hidden="false" fontIcon="apps" (click)="drawer.toggle()" class="transition duration-200 ease-in-out hover:scale-105 hover:cursor-pointer"></mat-icon>
    <div>
      <img src="favicon.ico" alt="Logo" class="h-8 w-8 hover:cursor-pointer" />
    </div>
    <div class="text-lg font-bold hover:cursor-pointer">Employee</div>
  </div>

  <div class="flex items-center space-x-2">
    <div class="inline-flex h-8 w-8 items-center justify-center rounded-full hover:cursor-pointer hover:bg-gray-200">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-icons-outlined">notifications</mat-icon>
    </div>

    <div class="inline-flex h-8 w-8 items-center justify-center rounded-full hover:cursor-pointer hover:bg-gray-200">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-icons-outlined">group_add</mat-icon>
    </div>

    <div class="inline-flex h-8 w-8 items-center justify-center rounded-full hover:cursor-pointer hover:bg-gray-200" (click)="changeMode()">
      @if (!isDark) {
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-icons-outlined">dark_mode</mat-icon>
      } @else {
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-icons-outlined">light_mode</mat-icon>
      }
    </div>

    <div class="inline-flex h-8 w-8 items-center justify-center rounded-full hover:cursor-pointer hover:bg-gray-200">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="material-icons-outlined">question_mark</mat-icon>
    </div>

    <div class="inline-flex h-8 w-8 select-none items-center justify-center rounded-full bg-rose-500 font-bold text-white hover:cursor-pointer" [matMenuTriggerFor]="profileMenu">
      <div>CC</div>
    </div>

    <mat-menu #profileMenu="matMenu" class="w-72">
      <div class="flex flex-col items-center justify-center p-4">
        <div class="inline-flex h-12 w-12 items-center justify-center rounded-full bg-rose-500 font-bold text-white">
          <div class="text-2xl">CC</div>
        </div>
        <div class="mt-2 text-xl font-bold">Vua an may</div>
        <div class="text-sm font-medium">daicacuong&#64;gmail.com</div>
      </div>
      <button mat-menu-item>
        <mat-icon fontIcon="key"></mat-icon>
        Change Password
      </button>
      <button mat-menu-item>
        <mat-icon fontIcon="">account_circle_outline</mat-icon>
        Account Settings
      </button>
      <button mat-menu-item>
        <mat-icon fontIcon="">verified_user_outline</mat-icon>
        Sercurity Settings
      </button>
      <button mat-menu-item>
        <mat-icon>language</mat-icon>
        Language: <span class="font-semibold">English</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>
</nav>
<div>
  <mat-drawer-container class="grid h-screen grid-cols-12" autosize>
    <mat-drawer #drawer class="col-span-2 w-52" mode="side" opened style="background-color: black">
      <div class="m-3 flex items-center rounded-md bg-emerald-600 p-2 text-sm font-medium text-white hover:cursor-pointer" matRipple matRippleColor="rgba(57, 209, 138, 0.5)">
        <mat-icon fontIcon="person" class="mx-2"></mat-icon>
        Profile
      </div>

      <div class="m-3 flex items-center rounded-md p-2 text-sm font-medium text-white hover:cursor-pointer" matRipple matRippleColor="rgba(57, 209, 138, 0.5)">
        <mat-icon fontIcon="fingerprint" class="mx-2"></mat-icon>
        Timekeeping
      </div>

      <div class="m-3 flex items-center rounded-md p-2 text-sm font-medium text-white hover:cursor-pointer" matRipple matRippleColor="rgba(57, 209, 138, 0.5)">
        <mat-icon fontIcon="account_balance_wallet" class="mx-2"></mat-icon>
        Salary
      </div>

      <div class="m-3 flex items-center rounded-md p-2 text-sm font-medium text-white hover:cursor-pointer" matRipple matRippleColor="rgba(57, 209, 138, 0.5)">
        <mat-icon fontIcon="handshake" class="mx-2"></mat-icon>
        Benefit
      </div>

      <div class="m-3 flex items-center rounded-md p-2 text-sm font-medium text-white hover:cursor-pointer" matRipple matRippleColor="rgba(57, 209, 138, 0.5)">
        <mat-icon fontIcon="accessibility" class="mx-2"></mat-icon>
        Uniform
      </div>

      <div (click)="openSite()" class="m-3 flex items-center rounded-md p-2 text-sm font-medium text-white hover:cursor-pointer" matRipple matRippleColor="rgba(57, 209, 138, 0.5)">
        <mat-icon class="mx-2">music_note</mat-icon>
        Open Youtube
      </div>
    </mat-drawer>

    <div class="col-span-10 bg-gray-100 p-4">
      <div class="h-fit overflow-hidden rounded-md bg-white shadow-lg">
        <div class="relative h-[130px]">
          <img src="./assets/profile-background.jpg" class="h-24 w-full object-cover object-left-top" alt="" />
          <div class="absolute left-1/2 inline-flex h-24 w-24 -translate-x-1/2 -translate-y-1/2 transform items-center justify-center rounded-full bg-rose-500 font-bold text-white">
            <div class="text-4xl">CC</div>
          </div>
        </div>

        <div class="grid grid-cols-3 items-center gap-2">
          <div class="col-start-2 col-end-3">
            <div class="flex flex-row items-center justify-center space-x-2">
              <div>
                <span class="text-base font-bold">VUA ĂN MÀY</span>
                <span>(NV00001)</span>
              </div>

              <span class="inline-flex h-5 w-5 items-center justify-center rounded-full bg-green-500">
                <mat-icon fontIcon="done" style="color: white; font-size: 16px; width: 16px; height: 16px"></mat-icon>
              </span>
            </div>
          </div>
          <div class="col-start-3 col-end-4 mx-4 space-x-2 py-4 text-right">
            <button mat-button mat-raised-button color="basic">
              <mat-icon>refresh</mat-icon>
              Refresh information
            </button>
            <button mat-button mat-raised-button color="primary">
              <mat-icon>edit</mat-icon>
              Update field
            </button>
          </div>
        </div>
      </div>

      <div class="mt-4 grid h-fit grid-cols-12 gap-6 overflow-hidden rounded-md">
        <div class="col-span-3 rounded-md border bg-white p-4">
          <form action="">
            <mat-form-field class="w-full">
              <mat-label>Search</mat-label>
              <input type="text" matInput placeholder="Search information" />
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
          </form>

          <mat-action-list class="h-[400px] overflow-auto rounded-b-md border">
            <button mat-list-item>Basic information</button>
            <button mat-list-item>Contact information</button>
            <button mat-list-item>Work information</button>
            <button mat-list-item>Family information</button>
            <button mat-list-item>Political, military, and medical information</button>
            <button mat-list-item>Vaccination information</button>
            <button mat-list-item>Costume information</button>
            <button mat-list-item>Account information</button>
            <button mat-list-item>Labor contract</button>
            <button mat-list-item>Work history</button>
            <button mat-list-item>Concurrently information</button>
            <button mat-list-item>Salary history</button>
            <button mat-list-item>Payment history</button>
          </mat-action-list>
        </div>

        <div class="col-span-9 rounded-md bg-white p-4 shadow">
          <div class="flex flex-row items-center justify-between">
            <div class="font-bold text-green-600">Basic information</div>
            <button mat-button mat-stroked-button color="primary" (click)="updateInformation()">
              <mat-icon fontIcon="badge"></mat-icon>
              Update information
            </button>
          </div>

          <div class="my-2 text-left">
            <div class="my-2 font-semibold">General information</div>
            <div class="grid grid-cols-2 gap-2 gap-x-16">
              <div class="grid grid-cols-3 items-center text-sm">
                <div>Employee code</div>
                <div class="col-span-2 border-b border-gray-400 py-2">NV000001</div>
              </div>

              <div class="grid grid-cols-3 items-center text-sm">
                <div>Marital status</div>
                <div class="col-span-2 border-b border-gray-400 py-2">-</div>
              </div>

              <div class="grid grid-cols-3 items-center text-sm">
                <div>Last and middle name</div>
                <div class="col-span-2 border-b border-gray-400 py-2">-</div>
              </div>

              <div class="grid grid-cols-3 items-center text-sm">
                <div>PIT code</div>
                <div class="col-span-2 border-b border-gray-400 py-2">-</div>
              </div>

              <div class="grid grid-cols-3 items-center text-sm">
                <div>Name</div>
                <div class="col-span-2 border-b border-gray-400 py-2">-</div>
              </div>

              <div class="grid grid-cols-3 items-center text-sm">
                <div>Family status</div>
                <div class="col-span-2 border-b border-gray-400 py-2">-</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</div>
